@import './veriables.scss';
  html{
    font-size: 10px;
  }

  body {
    font-family: System, monospace;
    text-transform: uppercase;
    background: $border-color2;
    font-size: 1.6rem;
  }
  .content {
    min-height: calc(100vh - 84px);
  }

  .logo {
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
    
    img {
      @extend %pixel-art;
      border-radius: 50%;
      max-width: 50px;

      @media (min-width: 576px) {
        max-width: 60px;
      }
    }
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
  }

  h2 {
    font-size: 18px;
    padding: 8px 0;
    text-align: center;
    color: $border-color2;
  }

  .col {
    margin: 15px 0;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .pixel-art {
    @extend %pixel-art;
  }

  .header {
    @extend %container-flex;
    @extend %pixel-art;
    padding: 15px;
    text-align: center;
    background: #fcfeff;
    margin-bottom: 55px;

    h1 {
      margin: 0;
      line-height:2rem;
      font-size: 2rem;
      flex-grow: 1;
      @media (min-width: 576px) {
        flex-grow: 0;
      }
      @media (min-width: 992px) {
        font-size: 2.5rem;
      }

      span {
        padding-right: 15px;
        border-right: 2px solid $base-color;
      }
    }
  }
  
  footer {
    background: #243350;
    box-sizing: border-box;
    color: #758eb7;
    font-size: 12px;
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    
    box-shadow: (-$box-height) 0 0 0 $box-shadow, $box-height 0 0 0 $box-shadow,
      0 (-$box-height) 0 0 $box-shadow, 0 $box-height 0 0 $box-shadow;

    @media (min-width: 992px) {
      margin-top: 0;
    }

    h3 {
      font-size: inherit;
      margin: 0;
      padding-bottom: 5px;
    }
  }


  .select {
    @extend %pixel-art;
    background: #2f353e;
    border: 1px solid #0e182c;
    color: #ffb400;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0;

    @media (min-width: 992px) {
      margin-top: 80px;
    }

    span {
      margin-right: 15px;
    }

    select {
      padding: 5px 15px;
      border: 0;
      background: #3e8ebe;
      color: #fcfeff;
      margin: 8px;

      &:focus-visible {
        outline: 0;
      }
    }
  }

  .order-wrapper{
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    .order-book {
      @extend %pixel-art;
      background: #2f353e;
      margin: 30px 0;
      padding: 25px;
      
      &.sell-box {
        li {
          color:rgb(234 80 67 / 70%);

          &:first-of-type {
            color:rgb(234 80 67 / 100%);
          }
        }
      }
  
      &.buy-box {
        li {
          color: rgb(100 208 180 / 70%);
          
          &:first-of-type {
            color:rgb(100 208 180 / 100%);
          }
        }
      }

      @media (min-width: 768px) {
        display: flex;
        margin-top: 0;
        padding: 25px 15px;
        width: calc(50% - 15px);
      }
    }
  }

  .fieldset {
    border: 1px solid #fcfeff;
    position: relative;
  
    @media (min-width: 768px) {
      flex-grow: 1;
      padding: 30px 0;
    }
  
    > div {
      display: flex;
      flex-flow: row wrap;
      font-size: 1.4rem;
  
      > div {
        flex-grow: 1;
        text-align: left;
        padding: 0 15px;
        margin-bottom: 15px;
  
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    ul {
      padding-left: 0;
      list-style: none;
    }
  
    li {
      margin: 10px 0;
  
      &:first-of-type {
        padding-bottom: 2px;
        margin-bottom: 15px;
        
       font-weight: 600;
      }
    }
    h2 {
      background: #2f353e;
  
      @media (min-width: 768px) {
        position: absolute;
        left: 50%;
        top: -13px;
        padding: 1px 32px;
        margin: 0 0 0 -80px;
      }
    }
  
    .label {
      border-bottom: 1px solid #49515d;
      color: #90a4ae;
      display: block;
      padding-bottom: 5px;
      text-transform: uppercase;
      width: 100%;
    }
  
    p {
      color: white;
      font-size: 2em;
      text-align: center;
    }
  } 
